#app {
	display: flex;
	flex-direction: column;
}

#options {
	display: flex;
	flex-direction: row;
}

#key_input_wrapper {
	border: 1px solid blue;
	border-radius: 5px;
}

#main {
	flex-grow: 1;
}

.cmp-leaf {
	border: 1px solid blue;
	padding: 5px;
	margin: 5px;
	min-width: 250px;
}

#tree {
	display: flex;
	flex-direction: row;
}

.cmp-goal {
	text-align: center;
}
